<ion-view view-title="Meeting Lists">
<ion-view hide-back-button="true">
  <ion-nav-buttons side="left">
     <button class="button button-assertive" menu-toggle="left">
          <i class="menu-icon icon ion-navicon"></i>
     </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <span>Meeting Lists</span>
  </ion-nav-title>
  
  <ion-content>
    <ion-list>
      <ion-item  class="item-icon-right" menu-close ui-sref="app.northern">
        <i class="menu-icon icon ion-chevron-right"></i>
        <h2 class="menu-text">Northern Area</h2>
      </ion-item>
      <ion-item class="item-icon-right" menu-close ui-sref="app.southern">
        <i class="menu-icon icon ion-chevron-right"></i>
        <h2 class="menu-text">Southern Area</h2>
      </ion-item>
      <ion-item class="item-icon-right" menu-close ui-sref="app.eastern">
        <i class="menu-icon icon ion-chevron-right"></i>
        <h2 class="menu-text">Eastern Area</h2>
      </ion-item>
      <ion-item  class="item-icon-right" menu-close ui-sref="app.western">
        <i class="menu-icon icon ion-chevron-right"></i>
        <h2 class="menu-text">Western Area</h2>
      </ion-item>
  </ion-content>
</ion-view>
