<ion-view view-title="{{conventionName}}">
  <ion-view hide-back-button="true">
  <ion-nav-buttons side="left">
     <button class="button button-assertive" ui-sref="app.speakers">
          <i class="menu-icon icon ion-ios-arrow-left"></i>
     </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <span>{{conventionName}}</span>
  </ion-nav-title>

  <ion-content>
    <div class="list card">
      <h2>{{conventionName}}</h2>
      <h3>{{speakerName}}</h3>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#" ng-click="playTrack('{{fileName}}', 1)">
        <i class="icon ion-ios-play"></i>
        Play
      </a>
      <a class="tab-item" href="#" ng-click="stopTrack(1)">
        <i class="icon ion-android-checkbox-blank"></i>
        Stop
      </a>
    </div>

</div>
  </ion-content>
</ion-view>
